@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');

:root{
  --c-chocolate-negro: #180808;
  --c-dulce-leche: #573428;
  --c-chocolate-leche: #6F4C41;
  --c-vainilla: #F8A655;
  --c-vainilla-light: #F8A65555;
  --c-chocolate-blanco: #EEE3C6;
  --t-text: "Red Hat Display", sans-serif;
  --t-h1: "Satisfy", cursive;
}

/* *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
} */

body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(80deg, #573428, #180808);
}

header{
  background-image: url(../assets/background-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .logged{
  
} */

.unlogged{
  display: none;
}

nav{
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

nav>a{
  padding-bottom: 8px;
  font-family: var(--t-text);
}

nav>a,nav>a:visited{
  color:var(--c-chocolate-blanco);
  text-decoration: none;
}

nav>a.active{
  color: var(--c-vainilla);
  border-bottom: var(--c-vainilla) 2px solid;
}

nav>a:hover{
  color: var(--c-vainilla-light);
  border-bottom: var(--c-vainilla-light) 2px solid;
}

button.my-btn{
  width: fit-content;
  background-color: var(--c-chocolate-negro);
  border: 2px solid var(--c-dulce-leche);
  padding: 8px 24px;
  border-radius: 50px;
  align-items: baseline;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

button.my-btn:hover.hollow, button.my-btn:hover.fill{
  background-color: var(--c-chocolate-leche);
  transition: 0.3s;
}

button.my-btn:hover.fill{
  color: var(--c-vainilla);
  transition: 0.3s;
}

button.fill{
  background-color: var(--c-chocolate-blanco);
  border-color: var(--c-chocolate-negro);
  color: var(--c-chocolate-negro);
}

button.hollow{
  background-color: var(--c-chocolate-negro);
  border-color: var(--c-vainilla);
  color: var(--c-vainilla);
}

button>svg{
  display: inline-block;
  vertical-align: middle;
}

button>.btn-texto{
  display: inline-block;
  vertical-align: middle;
  font-family: var(--t-text);
}

.welcome{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color:var(--c-chocolate-blanco);
  padding: 48px;
}

.welcome>.decoration>img{
  width:400px;
  padding-left: 20%;
  transform: scale(150%) translateY(20%) translateX(-5%);
}

.welcome>.text-n-buttons{
  display:flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 400px;
}

.welcome>.text-n-buttons>p{
  text-align: center;
  font-family: var(--t-text);
  font-size: 18px;
}

.welcome>.text-n-buttons>h1{
  font-family: var(--t-h1);
  font-size: 35px;
}

.my-card svg{
  color:#573428;
  width: 32px;
}

.my-card svg.transparent{
  opacity: 0.5;
}

.my-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  max-width: 350px;
  box-shadow: var(--c-vainilla-light) 4px 4px 10px;
  background-color: var(--c-chocolate-blanco);
}

.my-card hr{
  border:var(--c-dulce-leche) 2px solid;
  width: 80%;
  opacity: 1;
}

.my-card .my-card-body{
  display: flex;
  flex-direction: column;
  padding: 28px 28px 0 28px;
}

.my-card .precio-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-card h3{
  font-family: var(--t-text);
  font-weight: 900;
  font-size: 18px;
}

.my-card h2{
  font-family: var(--t-text);
  font-weight: 900;
  font-size: 24px;
}

.my-card .my-card-footer{
  font-family: var(--t-text);
  font-weight: 400;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 28px 28px 28px;
  align-items: center;
}

.best-products{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 48px;
  padding: 48px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--c-chocolate-leche);
  font-size: smaller;
  font-family: var(--t-text);
  /* width: 100vw; */
  background: linear-gradient(80deg, var(--c-chocolate-negro), #000000);
  padding-top: 16px;
}

footer img.brand{
  width: 64px;
}

footer ul li:first-child{
  transform: translateX(-32px);
  list-style-type: none;
}

footer .socials{
  display: flex;
  gap: 16px;
}

footer .socials img{
  width: 24px;
}


footer div.vertical{
  width: 2px;
  background-color: var(--c-dulce-leche);
  height: 80px;
}