


.imgProductos {
  width: 148px;
  height: 148px;
  object-fit: cover;
  font-weight: 100%;
  border-bottom: 10px;
}

.imgNosotros {
  width: 500px;
  height: 450px;
  object-fit: cover;
  font-weight: 100%;
  border-bottom: 10px;
}

 
    


.seccionProductos{
    background-color: #EEE3C6;
    text-align: center;
    margin:0;
 

    
}
.entreProductos{
    margin-top: 35px;
    margin-bottom: 35px;


}

.entreProductos > h1{
    font-size: 2rem;
    color: #573428


}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nombreFotoProd {
  font-family:"Poetsen One", sans-serif;
  text-align: center;
  color: #573428
}