


.imgProductos {
  width: 148px;
  height: 148px;
  object-fit: cover;
  font-weight: 100%;
  border-bottom: 10px;
}


.fotosWeSeccion{
 max-width: 1140px;
 align-self: center;

}
 
    


.seccionProductos{
    background-color: #EEE3C6;
    text-align: center;
    margin:0;
 

    
}
.entreProductos{
    margin-top: 35px;
    margin-bottom: 35px;


}

.entreProductos > h1{
    font-size: 2rem;
    color: #573428


}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nombreFotoProd {
  font-family:"Poetsen One", sans-serif;
  text-align: center;
  color: #573428
}

.tituloFotoWe {
  font-family: var(--t-h1);
  color:var(--c-chocolate-blanco);
  font-weight: 490;
  align-self: center;
  text-align: center;
}
.textoFotoWe{
  font-family: var(--t-text);
  color:var(--c-chocolate-blanco);
  font-weight: 490;
  align-self: center;
  text-align: center;
}
@media (max-width: 320px) {
  body{
    max-width: 320px;
  }

  .section-video {
  max-width: 320px;
 
}
.videoNosotros{
  max-width: 200px;
  max-height: 200px;
}


h1{
  max-width: 320px;
}

.fotosWeSeccion {
  max-width: 320px;
}

}
@media (max-width: 375px) {

  .section-video {
  max-width: 375px;

 
}
.videoNosotros{
  max-width: 375px;
  max-height: 375px;
}


h1{
  max-width: 375px;
}


}

@media (max-width: 425px) {

  .section-video {
  max-width: 425px;
 
}
.videoNosotros{
  max-width: 425px;
  max-height: 425px;
}


h1{
  max-width: 425px;
}


}

@media (max-width: 768px) {

  .section-video {
  max-width: 768px;
 
}
.videoNosotros{
  max-width: 768px;
  max-height: 768px;
}


h1{
  max-width: 768px;
}
}
@media (max-width: 1024px) {

  .section-video {
  max-width: 1024px;
 
}
video{
  max-width: 1024px;
  max-height: 1024px;
}


h1{
  max-width: 1024px;
}

}
/* @media (max-width: 375px) {
.section-video{
  max-width:375px;
  
}
h1{
  max-width: 375px;
}
video{
  max-width: 375px;
  max-height: 375px;
}


}
@media (max-width: 425px) {
.section-video{
  max-width:425px;
  
}
h1{
  max-width: 425px;
}
video{
  max-width: 425px;
  max-height: 425px;
}
}
@media (max-width: 768px) {
.section-video{
  max-width:768px;
  
}
h1{
  max-width: 768px;
}
video{
  max-width: 768px;
  max-height: 768px;
}
}
@media (max-width: 1250px) {

  .section-video{
  max-width:1250px;
  
}
h1{
  max-width: 1250px;
}
video{
  max-width: 1250px;
  max-height: 1250px;
}
} */
