


.imgProductos {
  width: 148px;
  height: 148px;
  object-fit: cover;
  font-weight: 100%;
  border-bottom: 10px;
}

.imgNosotros {
  width: 250px;
  height: 250px;
  object-fit: cover;
  font-weight: 100%;
  border-bottom: 10px;
}
.fotosWeSeccion{
  max-width: 1140px;
 align-self: center;

}
 
    


.seccionProductos{
    background-color: #EEE3C6;
    text-align: center;
    margin:0;
 

    
}
.entreProductos{
    margin-top: 35px;
    margin-bottom: 35px;


}

.entreProductos > h1{
    font-size: 2rem;
    color: #573428


}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nombreFotoProd {
  font-family:"Poetsen One", sans-serif;
  text-align: center;
  color: #573428
}
.nombreFotoWe{
  align-content: center;
}
.tituloFotoWe {
  font-family: var(--t-h1);
  color:var(--c-chocolate-blanco);
  font-weight: 425;
  align-self: center;
}
.textoFotoWe{
  font-family: var(--t-text);
  color:var(--c-chocolate-blanco);
  font-weight: 425;
  align-self: center;
}