


.imgProductos {
  width: 148px;
  height: 148px;
  object-fit: cover;
  font-weight: 100%;
  border-bottom: 10px;
}


.fotosWeSeccion{
 max-width: 1140px;
 align-self: center;

}
 
    


.seccionProductos{
    background-color: #EEE3C6;
    text-align: center;
    margin:0;
 

    
}
.entreProductos{
    margin-top: 35px;
    margin-bottom: 35px;


}

.entreProductos > h1{
    font-size: 2rem;
    color: #573428


}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.nombreFotoProd {
  font-family:"Poetsen One", sans-serif;
  text-align: center;
  color: #573428
}


.presentacionNosotros {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  
}

.nosostrosSomos {
color: var(--c-chocolate-blanco);
font-family: var(--t-h1);
}
.tituloSeccion{
align-self: center;
  text-align: center;
   font-family: 'Times New Roman', Times, serif; 
  color:var(--c-chocolate-blanco);
  align-self: center;
  text-decoration: underline;
   }


.contenedorNosotros {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly ;
  
}
.fotosIzquierda,
.fotosDerecha{
    display: flex;
  flex-direction: column;
 flex-wrap: wrap;
}

.fotosIzquierda,
.fotosDerecha,
.videoNosotrosCostado
{
    width: 320px;
}

.fotoVideo,
.fotoDerecha,
.fotoIzquierda{
    
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    
    width: 320px;
    height: 320px;
    
    object-fit: cover;
    

}


.videoNosotros{
    width: 100%;
   
    overflow: hidden;
    
}


.tituloFotoWe {
  font-family: var(--t-h1);
  color:var(--c-chocolate-blanco);
  
  align-self: center;
  text-align: center;
  
}

.textoFotoWe{
  align-self: center;
  text-align: center;
  font-family: var(--t-text);
  color:var(--c-chocolate-blanco);
  
  
  max-width: 300px;
}